<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- for simplicity, I use minimal logback configuration to deliver write to different log file -->
    <appender name="DEFAULT" class="ch.qos.logback.core.FileAppender">
        <file>logs/verve.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ID_COUNT_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/verve-id-count.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <producerConfig>
            <property name="bootstrap.servers" value="localhost:9092"/> <!-- Kafka broker address -->
            <property name="key.serializer" value="org.apache.kafka.common.serialization.StringSerializer"/>
            <property name="value.serializer" value="org.apache.kafka.common.serialization.StringSerializer"/>
        </producerConfig>
        <topic>verve-id-count-topic</topic>
        <filter class="com.verve.verve_zhongli.utils.IdCountFlushLogFilter">
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/verve-error.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="ID_COUNT_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
        <appender-ref ref="DEFAULT"/>
    </root>

</configuration>